{% comment %}
  Renders share button.
  Accepts:
  - page: {Object} passes the page to display.

  Usage:
  {% render 'side-panel',
  page: page,
  %}
{% endcomment %}

{%- style -%}

  .side-panel {
    position: fixed;
    top: 10vh;
    right: 0;
    bottom: 10vh;
    z-index: 10;
    width: 100%;
    max-width: 90vw;
    padding: 1rem;
    background-color: white;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s;
  }

  .side-panel--open {
    transform: translateX(0);
  }

  .side-panel__close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .side-panel__title {
    margin-top: 0;
  }

  .side-panel__content {
    margin-top: 1rem;
  }

  .side-panel__content > * {
    width: 100%;
  }

  media screen and (min-width: 750px) {
    .side-panel {
      top: 10vh;
      right: 10vh;
      bottom: 10vh;
      width: 40vw;
    }
  }

{% endstyle -%}

<script src="{{ 'side-panel.js' | asset_url }}" defer="defer"></script>


<article class="side-panel">
  <div class="side-panel__wrapper">
    <button class="side-panel__close toggle-side-panel" aria-label="Close side panel">
      {% render 'icon-close' %}
    </button>

    <h2 class="side-panel__title">{{ page.title }}</h2>
    <section class="side-panel__content">{{ page.content }}</section>
  </div>
</article>